link(rel='stylesheet',href='semantic/semantic.css')
script(href='semantic/semantic.js')
	
.ui.inverted.raised.segment
	.ui.four.column.grid
		.ui.five.wide.column
			.ui.four.item.medium.menu.inverted
				a.item Symbiotic Cart
				a.item Orders
				a.item Add Product
				a.item Integration
		.ui.eight.wide.column
		.ui.three.wide.column
			.ui.menu.right.floated.inverted
				.ui.simple.dropdown.item admin@bakemysite.com
					.ui.dropdown.icon
					.ui.menu
						a.item Choice 1
						a.item Choice 2
						a.item Choice 3
.ui.segment
	.ui.two.column.grid
		.ui.four.wide.column
			.ui.secondary.inverted.vertical.teal.menu
				a.active.item
					i.server.icon
					| Dashboard
				a.item 
					i.travel.icon
					|	Orders
				a.item
					i.cube.icon
					|	Products
				a.item
					i.tag.icon
					| Coupons
				a.item
					i.shipping.icon
					| Shipping
				a.item
					i.user.icon
					| Customers

				a.item
					i.linkify.icon
					| Integration
				h1
				h1
				h1
				h1
		.ui.twelve.wide.column
			h1 Settings
				.ui.dividing.teal.header
				.ui.tabular.menu
					a.active.item
						| Website Settings
					a.item
						| Payments
					a.item
						| Social Login
					a.item
						| ReCaptcha
					a.item
						| Shipping
					a.item
						| Security
			h2 Website Settings
			.ui.three.column.grid
				.ui.five.wide.column
					.ui.field
						.ui.two.fields
							.ui.field
								h4 Website URL
							.ui.input.field
								input(placeholder='www.demo.bakemysite.com/symbiotic-ajax-ca', type='text')
							



